<%= render partial: "header" %>

  <div class= "alert alert-index">
    <p><%= notice %></p> 
  </div>

  <% @chats.each do |chat| %>
    <p><%= chat.content %></p>
    <p class="test">
      jQueryテスト
    </p>
    <p><%= link_to "編集する", edit_chat_path(chat.id) %></p>
    <p><%= link_to "削除する", chat_path(chat.id), method: :delete, data: {confirm: "本当に削除していいですか？"} %></p>
  <% end %>
  <%= link_to("つぶやく", new_chat_path) %>
  <h3>test</h3>
<!-- <script>
      $(".test").css("color","red")
  </script>
 -->
<%= render partial: "footer" %>