<%= render partial: "header" %>
<%= form_with(model: @chat, local: true, url: confirm_chats_path) do |form| %>
  <% if @chat.errors.any? %>
    <div class="error-message">
      <h2><%= @chat.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :つぶやく %>
  <%= form.text_field :content %>
  <%= form.submit %>
<% end %>
<%= link_to("一覧に戻る", chats_path) %>
<%= render partial: "footer" %>

